body {
  margin: 0;
  background-color: none;
}

.navigation-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 100px;
  background-color: #E3B7A0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-weight: bold;
  max-height: 40px;
  position: sticky;
  top: 0;
  color: #a56b42;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
  align-self: center;
  display: flex;
  flex-direction: row;
  color: #7c573d;
}

.nav-links {
  display: inline-flex;
  gap: 115px;
  align-self: center;
  margin-left: 0%;
  margin-right: 50px;
  cursor: pointer;
}

.homepage {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  font-family: "Albert Sans";
  background-color: #edcdbbc9;
  height: 600px;
  gap: 20px;
  padding: 10px 100px;
  border: #edcdbbc9;
}

.content-header {
  font-size: 60px;
  font-weight: bolder;
  grid-column: 1 / span 4;
  padding: 35px;
  grid-column: 1/2;
  color: #664732;
}

.content-subheader {
  font-size: 40px;
  grid-column: 1 / span 4;
  padding: 0px;
  color: darkgoldenrod
}

.three-cups-of-coffee {
  grid-column: 2 / span 3;
  align-self: center;
  justify-self: center;
  padding: 20px;
  height: 400px;
  size: 50px
}

.three-cups-of-coffee img {
  height: 100%;
  width: 100%;
  padding:40px;
}

.button1,
.button2 {
  background-color: darkgoldenrod;
  border: none;
  color: white;
  padding: 20px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 25px;
  cursor: pointer;
  border-radius: 12px;
}

.content-buttons {
  grid-template-areas: 
    "button3 button4 button5"
    "button9 button10 buton11";
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 50px 50px 80px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ffeddb73;
  gap: 20px;
  padding: 20px 200px;
}

.button3,
.button4,
.button5 {
  width: 100%;
  height: 70px;
  background-color: #edcdbbc9;
  color: #b5835f;
  border: none;
  padding: 18px 45px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  cursor: pointer;
  border-radius: 12px;
}

.top-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  margin-top: 20px;
  height: 100%;
}

.button9,
.button10,
.button11 {
  height: 300px;
  align-content: center;
  background-color: #edcdbbc9;
  color: #b5835f;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60px;
  cursor: pointer;
  border-radius: 12px;
}

.bottom-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 140px;
  height: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 90px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #E3B7A0;
  text-align: left;
  font-style: bold;
  font-size: 15px;
  height: 40px;
  color: white;
}

@media(min-width: 0px) and (max-width: 667px) {
  .nav-links {
    display: none;
  }

  .navigation-bar {
    margin-top: 0px;
    padding: 20px;
    justify-content: center;
  }

  .content-header {
    font-size: 30px;
    text-wrap: wrap;
    margin: 0px;
    padding: 50px;
    grid-column: 1/1;
  }

  .content-subheader {
    display: none;
  }

  .button1 {
    size: 10px;
  }

  .button2 {
    size: 10px;
  }

  .three-cups-of-coffee img {
    grid-column: 1/1;
    width: 100%;
    height: 100%;
  }

  .three-cups-of-coffee {
    margin-top: 50px;
    height: 200PX;
  }

  .content-buttons {
    display: none
  }

  .footer {
    font-size: 20px;
  }

  .homepage {
    padding: 0px;
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
  }

  .navigation-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0px;
    background-position: 100% 50%;
    max-width: 768px;
    box-sizing: border-box;
  }

  .nav-links {
    display: none;
  }

  .logo {
    font-size: 30px;
    font-weight: bolder;
    margin-left: 20px;
    max-width: 215px;
    width: 215px;
  }

  .discover-button {
    display: none;
  }

  .homepage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #EDCDBB;
    width: 100%;
    height: 600px;
    padding: 0;
  }

  .three-cups-of-coffee {
    height: auto;
  }

  .three-cups-of-coffee img {
    width: 100%;
    height: 260px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .content-header {
    font-size: 38px;
    font-weight: bolder;
    grid-column: 1 / span 4;
    padding: 20px;
    grid-column: 1/2;
  }

  .content-subheader {
    font-size: 24px;
    font-style: italic;
    grid-column: 1 / span 4;
    padding: 40px;
  }

  .button1,
  .button2 {
    font-size: 16px;
    padding: 5px 5px;
  }

  .content-buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
    gap: 20px;
    padding-top: 25px;
    max-width: 768px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
  }

  .top-buttons,
  .bottom-buttons {
    display: contents;
  }

  .button3,
  .button4,
  .button5 {
    width: 165px;
    font-size: 16px;
  }

  .button3,
  .button4,
  .button5,
  .button9,
  .button10,
  .button11 {
    margin: 0;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    display: block;
    border: none;
  }

  .button9,
  .button10,
  .button11 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    margin: 0;
    padding: 15px 32px;
    text-align: center;
    border-radius: 12px;
    border: none;
  }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  .navigation-bar {
    max-width: none;
  }

  .nav-links {
    margin-right: 125px;
  }

  .content-buttons {
    max-width: none;
  }

  .top-buttons {
    justify-content: center;
    gap: 100px;
  }

  .button3,
  .button4,
  .button5 {
    justify-self: center
  }
}
